.BodyWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    min-height: calc(100vh - 90px);
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    color: #0e0e29;

    .BodyInner {
        padding: 50px 0;
        width: 100%;
        max-width: 1400px;
    }
}
