body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #0e0e29;
    color: #efebf7;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    margin-top: 0;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #efebf7;
}

a:hover {
    color: pink;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
